.greyTable {
    color: #666666;
}

.greyTable .content {
    position: relative;
}

.greyTable .content .header {
    background-color: #bfbfbf;
    font-weight: bold;
    margin-bottom: 0px !important;
    border-bottom: 1px solid #919191;
    overflow: hidden;
}

.greyTable .content .header div, .greyTable .content .dataRow div {
    float: left;
    padding: 5px 0px;
    font-size: 1em;
}

.greyTable .content .dataRow {
    border-bottom: 1px solid #afafaf;
    background-color: #e2e2e2;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.currentBets .dataRow .betType, .currentBets .header .betType {
    width: 32px;
    text-align: center;
}

.currentBets .dataRow .time, .currentBets .header .time {
    width: 38px;
    text-align: center;
}

.currentBets .dataRow .selection , .currentBets .header .selection {
    padding-left: 5px;
    width: 144px;
}

.currentBets .dataRow .size, .currentBets .header .size {
    padding-right: 5px;
    text-align: right;
    width: 52px;
}

.currentBets .dataRow .price, .currentBets .header .price {
    padding-right: 5px;
    text-align: right;
    width: 52px;
}

.currentBets .dataRow .profit, .currentBets .header .profit {
   padding-right: 5px;
   text-align: right;
   width: 67px;
}

.currentBets .notification {
    background-color: #e2e2e2;
    /*display: none;*/
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px 0px;
    text-align: center;
}

.currentBets .dataRow .overlay {
    background-color: #FFE710;
    color: #000;
    display: none;
}

.currentBets .dataRow .overlay em {
    background: url('../img/spinner-yellow.gif') no-repeat center transparent;
    text-indent: -1000em;
    width: 28px;
    display: inline-block;
}

.currentBets #betOverlayTmp {
    display: none;
}

.currentBets .overlay {
    background-color: #8f8f8f;
    color: #fff;
    display: none;
    font-size: 1.2em;
    font-weight: bold;
}

.currentBets .spinner {
    background: url('../img/spinner-blue.gif') no-repeat left transparent;
    padding-left: 25px;
}

