#account-wallets .wallet .betType {
    width: 32px;
    text-align: center;
}

#account-wallets .wallet .name {
    width: 50px;
    text-align: center;
}

#account-wallets .wallet .balance, #account-wallets .wallet .availableBalance, #account-wallets .wallet .exposure {
    padding-right: 5px;
    text-align: right;
}

#account-wallets .wallet .balance {
    width: 105px;
}

#account-wallets .wallet .availableBalance {
    width: 110px;
}

#account-wallets .wallet .exposure {
    width: 110px;
}

#account-wallets .notification {
    background-color: #e2e2e2;
    /*display: none;*/
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px 0px;
    text-align: center;
}

#account-wallets .overlay {
    background-color: #e2e2e2;
    display: none;
    font-size: 1.2em;
    font-weight: bold;
}





